@import './partials.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(222, 222, 222);
}
body {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, rgb(111, 148, 190) 0%, rgba(15,40,70,1) 100%)
}
.App{
    @include flex(column, initial, center);
    max-width: 450px;
    min-height: 100vh;
    .emptyHeading{
        margin-top: 30vh;
    }
    .noActivatedCard{
        min-height: 30vh;
        @include flex(initial, center, center);
    }
    .activeCard{
        @include card($marginActiveCard, $shadowActivecard);
        margin-top: 10px;
        margin-bottom: 10px;
        h3{
            text-align: center;
        }
        .magStripe{
            background: black;
            height: 40px;
            width: 100%;
            margin-top: 20px; 
        }
        .cvv{
            height: 30px;
            background: white;
            width: 70%;
            margin-left: 10px;
            text-align: right;
            margin-top: 10px;
            p{
                color: black;
            }
        }
        .previewFilter{
            cursor: pointer;
            display: none;
            .flipBox{
                @include flex(column, center, center);
                .flipIcon{
                    font-size: 80px;
                    fill: white;
                }
            }
        }
        .filter{
            display: none;
            .flipBox{
                @include flex(initial, center, center);
                cursor: pointer;
                align-self: flex-start;
                p{
                    display: none;
                }
                .flipIcon{
                    font-size: 30px;
                    fill: white;
                }
                &:hover{
                    .flipIcon{
                        font-size: 32px;
                    }
                    p{
                        display: initial;
                    }
                }
            }
            .closeBox{
                @include flex(column, center, center);
                cursor: pointer;
                margin-top: 30px;
                align-self: center;
                .closeIcon{
                    font-size: 80px;
                    fill: white;
                }
                p{
                    display: none;
                }
                &:hover{
                    p{
                        display: initial;
                    }
                }
            }

        }
        &:hover{
            .filter{
                @include flex(column, flex-start, center);
                @include filter();
            }
            .previewFilter{
                @include flex(column, center, center);
                @include filter();
            }
        }
    }
    .notActiveCards{
        @include flex(column, initial, center);
        @include card($marginInactiveCard, $shadowInactiveCard);
        margin-top: 10px;
        .card{
            .filter{
                display: none; 
                .openBox{
                    @include flex(column, center, center);
                    align-self: center;
                    cursor: pointer;
                    .openIcon{
                        font-size: 80px;
                        fill: white;
                        &:hover{
                            p{
                                display: initial;
                            }
                        }
                    }
                    p{
                        display: none;
                    }
                    &:hover{
                        p{
                            display: initial;
                        }
                    }
                }
                .deleteBox{
                    @include flex(initial, center, center);
                    cursor: pointer;
                    margin-left: 10px;
                    .deleteIcon{
                        font-size: 30px;
                        fill: white;
                    }
                    p{
                        display: none;
                        font-size: 18px;
                        font-weight: bold;
                        background: white;
                        padding-right: 15px;
                    }
                    &:hover{
                        padding: 1%;
                        background:white;
                        border-radius: 3px;
                        .deleteIcon{
                            font-size: 50px;
                            fill: rgb(171, 12, 12);
                        }
                        p{
                            color:rgb(171, 12, 12);
                            display: initial;
                        }
                    }    

                }
            }
            &:hover{
                z-index: 1;
                .filter{
                    @include flex(column, center, flex-start);
                    @include filter();
                }
            }
        }
    }

    .addCardBtn{
        @include button($navBtnColor);
    }
}